<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pedulipangan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pedulipangan">

        <!-- Splashscreen sebagai activity utama -->
        <activity
            android:name=".splashscreen_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity lain yang ditambahkan -->
        <activity android:name=".onboarding_Activity" />
        <activity android:name=".login_Activity" />
        <activity android:name=".register_Activity" />

    </application>

</manifest>
